server:
  port: 8090

spring:
  application:
    name: gateway-service

  cloud:
    nacos:
      discovery:
        enabled: true
        server-addr: nacos:8848
        namespace: cinema
        register-enabled: true
        group: CINEMA_GROUP
        ephemeral: true
        heart-beat-interval: 5000
        heart-beat-timeout: 15000

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=0

        - id: movie-service
          uri: lb://movie-service
          predicates:
            - Path=/api/movies/**,/api/showtimes/**
          filters:
            - StripPrefix=0

        - id: ticket-service
          uri: lb://ticket-service
          predicates:
            - Path=/api/tickets/**
          filters:
            - StripPrefix=0

        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**,/api/refunds/**
          filters:
            - StripPrefix=0

        - id: recommendation-service
          uri: lb://recommendation-service
          predicates:
            - Path=/api/recommendations/**
          filters:
            - StripPrefix=0

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    com.zjsu.syt.cinema: DEBUG
    com.alibaba.cloud.nacos: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,gateway
  endpoint:
    health:
      show-details: always
